.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
  padding: 0 !important;
}

.content-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .content-list-component{
    width: 45%;
    margin-bottom: 6%;

    .content-list-content{
      display: flex;
      flex-direction: column;

      .content-list-img{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
      
      .content-list-title{
        font-family: $montserrat;
        font-size: 24px;
        font-weight: 500;
      }
      
      .content-list-tags{
        padding: 10px 0;
        color: $secondary-light;
        font-family: $sourcesanspro;
        font-size: 20px;
        font-weight: 400;
      }

      .content-list-article{
        font-family: $sourcesanspro;
        font-size: 500;
        font-weight: 500;
        padding: 10px 0;
      }
    }
    
  }
}



