.header-equal{
  height: 50px; 

  .header{
    color: $main-dark;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 80px;
    font-family: $montserrat;
    transition: 0.4s;
    -webkit-transition: 0.4s;

    .header-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .header-logo{
        font-size: 28px;
        font-weight: 700;

        @include mobile{
          display: none;
        }
      }

      .header-logo-m{
        font-size: 28px;
        font-weight: 700;
        display: none;

        @include mobile{
          display: inline;
        }
      }

      .header-menu{
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-menu-link{
          margin-left: 25px;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}



